@{
    ViewData["Title"] = "Hata";
}
<h4>Hata!</h4>
<p>
    E-posta doğrulama işlemi gerçekleştirilemedi.
    Lütfen bağlantının geçerliliğini kontrol edin veya yeniden doğrulama isteğinde bulunun.
</p>
