@{
   
    ViewData["Ttile"] = "Parola Yenileme";
}

<div class="d-flex flex-column justify-content-center">
    <h2>Teşekkürler</h2>
    <p>
        Eposta adresinize göndermiş olduğumuz doğrulama mesajı ile parolanızı yenileyebilirsiniz
    </p>

</div>
