@{
    ViewData["Title"] = "Yeni üyelik";
}

<div class="d-flex flex-column justify-content-center">
    <i class="bi bi-emoji-smile display-1"></i>
    <h2>Teşekkürler</h2>
    <p>
        Üyeliğiniz başarıyla oluşturuldu!
        Lütfen e-posta adresinize gönderdiğimiz doğrulama bağlantısına tıklayarak hesabınızı etkinleştirin.
    </p>
</div>