
@{

    ViewData["Ttile"] = "Parolamı Yenileme";
}
<div class="d-flex flex-column justify-content-center">
    <h2>Teşekkürler</h2>
    <p>
        Parola yenileme işlemi başarıyla gerçekleşmiştir
    </p>
    <a asp-action="Login" asp-controller="Account">Giriş Yap</a>
</div>
