
@{
    ViewData["Title"] = "Categories";
}
@model List<Category>

<div class="container py-4 bg-dark text-light rounded shadow">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="text-info mb-0">Categories</h3>
        <a asp-controller="Categories" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle me-1"></i> Add New Category
        </a>
    </div>

    <table class="table table-dark table-hover align-middle">
        <thead class="table-secondary text-dark">
            <tr>
              
                <th>Name</th>
                <th>Aktive</th>
          
      
           
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

          
            @if (Model != null && Model.Any())
            {
              
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @if (item.IsEnabled)
                            {
                                <span class="badge bg-success">Aktive</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Pasive</span>
                            }
                        </td>
                        <td>
                            <div class="d-flex justify-content-center gap-2">
                                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-2 g-2">Edit</a>
                                @*program.cs deki ""pattern: "{area:exists}/{controller=Dashboard}/{action=Index}/{id?}");"" rotadaki id kısmına gönderdiğimiz id eklenecek*@
                                <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Bu kategoriyi silmek istediğinize emin misiniz?');">Delete</a>
                            </div>
                        </td>
                    </tr>
                  
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-muted">No categories found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

